* {
	box-sizing: border-box;
}

svg {
	max-height: 9rem;
}

body {
	font-family: 'Georgia', serif;
	color: hsl(0, 3%, 20%);
	text-align: center;
  background: linear-gradient(110deg, white, hsl(32.3, 3.1%, 70%))
}

h2 {
	margin-top: 5rem;
}
h2:first-of-type {
	margin-top: 2rem;
}

figure {
	margin-bottom: 10rem;
	margin-top: 3rem;
	display: inline-block;
}

img {
	max-width: calc(100vw - 100px);
	max-height: 30rem;
	width: auto;
	height: auto;

	border-radius: 5px;
	background-color: whitesmoke;
	padding: 40px 50px;
	box-shadow: 
	-2px -2px 1px rgba(0,0,0,0.5) inset,
	20px 4px 10px rgba(0,0,0,0.35), 
	40px 8px 10px rgba(0,0,0,0.15);
}

figcaption {
	color: rgba(0,0,0,0.6);
	width: auto;
	display: block;
	border-radius: 2px;
	padding: 10px;
	margin: 1.5rem 1rem;
	text-align: right;
}

figcaption .title {
	display: block;
	margin-bottom: 0.25rem;
	font-size: 1.25rem;
}