* {
	box-sizing: border-box;
}

svg {
	max-height: 9rem;
}

body {
	font-family: 'Georgia', serif;
	color: hsl(0, 3%, 20%);
	text-align: center;
	background-color: hsl(42, 11.9%, 83.5%);
	background: linear-gradient( 110deg, hsl(0, 0%, 100%), hsl(32.3, 5.1%, 49.6%));
}

h2 {
	margin-top: 5rem;
}
h2:first-of-type {
	margin-top: 2rem;
}

img {
	max-width: calc(100vw - 100px);
	max-height: 30rem;
	width: auto;
	height: auto;

	border-radius: 5px;
	background-color: whitesmoke;
	/*! margin:50px; */
	padding: 40px 50px;
	box-shadow: 
	-2px -2px 1px rgba(0,0,0,0.5) inset,
	20px 4px 10px rgba(0,0,0,0.35), 
	40px 8px 10px rgba(0,0,0,0.15);
}
