[Unit]
Description=Renew SSL certs with certbot
#Wants=myMonitor.timer

[Service]
Type=oneshot
ExecStart=/home/viktor/renew-certs.zsh

[Install]
WantedBy=multi-user.target
